
{% extends "layout.html" %}
{% block content %}

<p>
  Once upon a time there lived a <span>{{jjob_title}}</span> called <span>{{fName}}</span> <span>{{lName}}</span>.
</p>
<p>
  They lived in <span>{{ccity}}</span> with <span>{{smallInt}}</span> <span>{{pet}}s</span>.
</p>
<p>
  One day <span>{{fName}}</span> was visited in a dream by a <span>{{vvisitor}}</span>. Just before waking up the <span>{{vvisitor}}</span> told <span>{{fName}}</span>:
</p>
<p>
  <span id="advice">"{{advice}}"</span>.
</p>

 {% endblock content %}
